MONGOURL="mongodb+srv://<username>:<password>@cluster.mongodb.net/VendingMachine?appName=GYM"
PORT=3000
JWT_INSTITUTION_SECRET="your_institution_secret_here"
JWT_ADMIN_SECRET="your_admin_secret_here"
JWT_VENDING_MACHINE_SECRET="your_vending_machine_secret_here"
QR_ENCRYPTION_KEY="your_32_byte_encryption_key_here"